<div class="form-group {{if hasError 'has-error'}}">
  {{yield}}

  {{#if hasError}}
  <div class="row">
    <ul class="error-list col-xs-7 col-xs-offset-5 text-left text-danger">
      {{#each-in errorMsg as |err msg|}}
        <li>{{msg}}</li>
      {{/each-in}}
    </ul>
  </div>
  {{/if}}
</div>
