<nav class="navigation nav navbar-default">
  <div class="container-fluid">
    <div class="nav__logo navbar-header">
      {{#link-to 'index'}}<h3>DUMMY<small>Social Network</small></h3>{{/link-to}}
    </div>
    <ul class="nav__nav nav navbar-nav">
      {{#each nav as |navItem|}}
        <li>{{#link-to navItem.route}}{{navItem.label}}{{/link-to}}</li>
      {{/each}}
    </ul>
    {{site-nav-search searchParam=searchParam action="search"}}
  </div>
</nav>
