<form {{action "search" preventDefault="true" on="submit"}} class="navbar-form navbar-left {{if isInvalid 'has-error'}}">
  <div class="form-group">
    {{input type="text" placeholder="Search" class="form-control" value=searchParam}}
    <button class="btn btn-default">GO</button>
  </div>
</form>
