<h1>Login</h1>

<p>
  <small>
    New user? Create an {{#link-to "profile.new"}}user profile{{/link-to}}.
  </small>
</p>

<form {{action "login" model on="submit"}}>
  <div class="form-group">
    <label class="control-label">User Name</label>
    {{input class="form-control" value=model.username}}
  </div>
  {{#if loginError}}
    <p>{{loginError}}</p>
  {{/if}}
  <button type="submit" class="btn btn-primary">Log In</button>
</form>

