<section class="profile-new">
  <h1>Create a New User Profile</h1>

  <form {{action "createUser" model on="submit"}} class="form-horizontal">
    {{#form-group hasError=errors.name}}
      <label class="col-xs-4 control-label" for="name">Name</label>
      <div class="col-xs-8">
        {{input class="form-control" placeholder="John Doe" value=model.name}}
      </div>
    {{/form-group}}
    {{#form-group hasError=errors.username customMsg=customErrorMessages}}
      <label class="col-xs-4 control-label" for="username">User Name</label>
      <div class="col-xs-8">
        {{input class="form-control" placeholder="johndoe0" value=model.username}}
      </div>
    {{/form-group}}
    {{#form-group hasError=errors.email}}
      <label class="col-xs-4 control-label" for="email">Email</label>
      <div class="col-xs-8">
        {{input class="form-control" placeholder="john@doe.com" value=model.email}}
      </div>
    {{/form-group}}
    {{#form-group hasError=errors.address}}
      <label class="col-xs-4 control-label" for="address">Address</label>
      <div class="col-xs-8">
        {{input class="form-control" placeholder="Fake St. 123" value=model.address}}
      </div>
    {{/form-group}}
    {{#form-group hasError=errors.phone}}
      <label class="col-xs-4 control-label" for="phone">Phone</label>
      <div class="col-xs-8">
        {{input class="form-control" placeholder="234 3453453" value=model.phone}}
      </div>
    {{/form-group}}
    {{#form-group hasError=errors.website}}
      <label class="col-xs-4 control-label" for="website">Website</label>
      <div class="col-xs-8">
        {{input class="form-control" placeholder="http://www.johndoe.com" value=model.website}}
      </div>
    {{/form-group}}
    {{#form-group hasError=errors.company}}
      <label class="col-xs-4 control-label" for="company">Company</label>
      <div class="col-xs-8">
        {{input class="form-control" placeholder="John Doe Inc." value=model.company}}
      </div>
    {{/form-group}}

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="reset" class="btn btn-danger">Cancel</button>
  </form>
</section>

