// Routes
@import 'routes/loading';
@import 'routes/index';
@import 'routes/search';
@import 'routes/profile/new';

// Components
@import 'components/site-nav';

html, body {
  background-color: #eee;
}

main.container-fluid {
  min-height: calc(100vh - 50px);
}

.ember-modal {
  &-wrapper {
    display: block;
    width: 100vw;
    height: 100vh;
  }
  &-overlay {
    $red: random(80);
    $green: random(80);
    $blue: random(80);
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($red, $green, $blue, .6);
  }
}
