<h1>{{model.name}}</h1>
{{input value=newPostBody}}
<button {{action submitAction newPostBody target="controller"}}>Post</button>
<ul>
	{{#each model.posts as |cosas|}}
		<li>{{cosas.body}}</li>
		{{else}}
		<p>There's no Posts yet</p>
	{{/each}}
</ul>
{{outlet}}
