.nav {
  background-color: #63AB77;
  color: #FFF;

  &__logo {
    h3 {
      margin: .2em .8em 0 0;
      color: #FFF;
    }
    small {
      color: #FFF;
      display: block;
      font-size: .45em;
      text-transform: uppercase;
    }
    a, a:hover {
      text-decoration: none;
    }
  }
}

.navbar-default {
  .navbar {
    &-nav {
      > li > a {
        color: #FFF;
      }
    }
  }
}
