.index {
  &__jumbotron {
    $red: random(100);
    $green: random(100);
    $blue: random(100);
    background: rgb($red, $green, $blue) center top no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    margin-top: 1em;
    text-align: center;
    h1 {

      span {
        mix-blend-mode: overlay;
        font-size: 4em;
        font-weight: bolder;
        padding: 0;
        margin: 0 -3.8rem;
        @for $i from 1 to 6 {
          $red: random(108) + 147;
          $green: random(108) + 147;
          $blue: random(108) + 147;
          &:nth-child(#{$i}) {
            color: rgb($red, $green, $blue);
          }
        }
      }
    }

    p {
      color: #FFF;
    }
  }
}
