.loading, .error {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
  }
  &__icon {
    font-size: 5em;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotation 2s infinite linear;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
