<div class="loading">
  <div class="loading__wrapper">
    <div class="loading__message">Oops, something went wrong. Try <a href="javascript:;" {{action "reload" preventDefault=true}}>reloading</a>.</div>
  </div>
</div>