<div class="index">
  <div class="jumbotron index__jumbotron">
    <h1>
      <span>D</span>
      <span>U</span>
      <span>M</span>
      <span>M</span>
      <span>Y</span>
    </h1>
    <p>Provided data is a JSON created with <a href="http://jsonplaceholder.typicode.com/">JSON Placeholder</a>. Make sure you check it out!</p>
  </div>
</div>