<div class="search">
  <h1>Searched for: <em>{{model.searchTerm}}</em></h1>

  <h3>
    Posts found: {{model.postResults.length}} {{if model.postResults "😁" "😓"}}
  </h3>

  {{#if model.postResults}}
  <section>
    <ul>
      {{#each model.postResults as |postItem|}}
      <li>
        <p>{{high-light postItem.body model.searchTerm}} - <em><small>by {{postItem.user.name}}</small></em></p>
      </li>
      {{/each}}
    </ul>
  </section>
  {{/if}}

  <h3>
    Users found: {{model.userResults.length}} {{if model.userResults "😁" "😓"}}
  </h3>

  {{#if model.userResults}}
  <section class="user">
    <ul>
      {{#each model.userResults as |user|}}
      <li class="user__result">
        <h4 {{action "toggleModal" user}}>
          {{high-light user.name model.searchTerm}}
        </h4>
        <p>{{high-light user.username model.searchTerm}}</p>
      </li>
      {{/each}}
    </ul>
  </section>
  {{/if}}

  {{!-- Modal --}}
  {{#if showModal}}
    {{#modal-dialog close="toggleModal"
                    targetAttachment="center"
                    wrapper-class="modal fade in"
                    container-class="modal-dialog"}}
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" {{action "toggleModal"}}>&times;</button>
          <div class="modal-title">
            <h4>Modal Title</h4>
          </div>
        </div>
        <div class="modal-body">
          Hello! This is a modal for {{currentUser.name}}
        </div>
      </div>
    {{/modal-dialog}}
  {{/if}}

</div>
